.container-header {
  position: sticky;
}

.nav-link {
  color: black;
    /* This is just changing the words, but not the SVGs/PNGs */
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  /* font-family: "Poppins", sans-serif; */
  position: sticky;
}

.header-logo {
  color: #044159;
}

.pro {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

.highlighted-words {
  font-weight: bold;
  color: #044159 ;
}

.container-cover {
  background:url(./Photos/webpage-background4.jpg);
  background-size:100%;
  background-repeat:no-repeat;
  color: white;
}

.container-cover h1 {
  color: white;
}


.img-container {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  padding: 0;
  margin: 0;
}

hr {
  border:inset #0D8C8C 2px;
  border-bottom: none;
  width: 70%;
  margin: 100px auto;}


.contact-me {
  place-items: center;
  text-align: center;
}

.btn {
  background-color: #0D8C8C;
  color: white;
  border-color: #044159; 
}

.footer {
  background:url(./Photos/webpage-background4.jpg);
  background-size:100%;
  background-repeat:no-repeat;
  margin-top: 2rem;
  padding: 0;
}

/*.nav {
  background-color: white;
  /* This is just a placeholder. wondering why this changed the size of the footer. }
  */


.header {
  display: flex;
  justify-content: flex-start; /* Default alignment */
  align-items: center;
  width: 100%; /* Ensure it takes up the full width */
}

/* Center the About Me container on mobile */
@media (max-width: 767px) {
  .container.col-xxl-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* Center the About Me container on mobile */
@media (max-width: 767px) {
  .header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* Default alignment for large screens - already set by Bootstrap */
.text-end {
  text-align: right;
}

/* Media query for screens smaller than 767px (mobile devices) */
@media (max-width: 767px) {
  .text-end {
      text-align: center !important; /* Override the text-end on small screens */
  }
  }

  .img-container {
    text-align: right;
  }

  /* Media query for screens smaller than 767px (mobile devices) */
@media (max-width: 767px) {
  .img-container {
      text-align: center !important; /* Override the text-end on small screens */
  }
  }

    /* Media query for screens smaller than 767px (mobile devices) */
@media (max-width: 767px) {
  .contact-me .btn {
      text-align: center !important; /* Override the text-end on small screens */
  }
  }